# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Python logs
*.log

# Dataset files
data/

# Saved models
models/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db